:root {
  --bg: #292524;
  --text: #fafaf9;
  --highlight: #e7e5e4;
  --accent: #ff9f00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

.card {
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: var(--text);
  color: var(--bg);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  .card-title {
    font-size: 1rem;
    text-transform: capitalize;
  }
  .card-author {
    color: #757575;
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
